	<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">	
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class=" style=left:1px;">
		 <a th:href="@{/new2}" class="btn btn-primary">nuevo</a>
           <br> <br>
		<table class="table table-responsive"  >

			<thead>
				<tr>
					<th>Equipo</th>
					<th>Salario</th>
					<th>Costo</th>
					<th>Valor a cobrar</th>
					<th>Valor hora COP</th>
					<th>Valor hora usd</th>
					<th>Cantidad</th>
					<th>Subtotal</th>
					<th>Dedicacion</th>
					<th>Hora dedicacion</th>
					<th>Hora esfuerzo</th>
					<th>Costo total</th>
					<th>Total</th>
					<th>Total usd </th>
					<th>Utilidad</th>
					<th> Acciones </th>
					

				</tr>
			</thead>
			<tbody>
			
			
		
				<tr th:each="costo : ${costos}">
					
					<td th:text="${costo.usuarios.nombre}"></td>
					<td th:text="${costo.salarios.salario}"></td>
					<td th:text="${costo.costo}"></td>
					<td th:text="${costo.valor_cobrar}"></td>
					<td th:text="${costo.valor_hora_cop}"></td>
					<td th:text="${costo.valor_hora_usd}"></td>
					<td th:text="${costo.cantidad}"></td>
					<td th:text="${costo.subtotal}"></td>
					<td th:text="${costo.dedicacion}"></td>
					<td th:text="${costo.hora_dedicacion}"></td>
					<td th:text="${costo.hora_esfuerzo}"></td>
					<td th:text="${costo.costo_total}"></td>
					<td th:text="${costo.total}"></td>
					<td th:text="${costo.total_USD}"></td>
					<td th:text="${costo.utilidad}"></td>
					
					<td>
					<a th:href="@{/editarr/}+${costo.id_costo}"
						class="btn btn-warning">Editar</a>
						 <a th:href="@{/eliminarr/}+${id_costo}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>

			</tbody>
		
		</table>
		
		
		

	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>
</body>
</html>