<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-4">
		 <a th:href="@{/new}" class="btn btn-primary">nuevo</a>
           <br> <br>
		<table class="table">
				<thead>
				<tr>
					<th>Id_info_proyecto</th>
					<th>Fase</th>
					<th>Modulo</th>
					<th>Funcion</th>
					<th>Horas</th>
					
					<th>Semanas</th>
					
					<th> Acciones </th>
					

				</tr>
			</thead>
			<tbody>
				<tr th:each="proyecto:${proyectos} ">
					<td th:text="${proyecto.id_info_proyecto}"></td>
					<td th:text="${proyecto.fase}"></td>
					<td th:text="${proyecto.modulo}"></td>
					<td th:text="${proyecto.funcion}"></td>
					<td th:text="${proyecto.horas}"></td>
					
					<td th:text="${proyecto.semanas}"></td>
					
					<td>
					<a th:href="@{/editar/}+${proyecto.id_info_proyecto}"
						class="btn btn-warning">Editar</a>
						 <a th:href="@{/eliminar/}+${proyecto.id_info_proyecto}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>

			</tbody>
		
		</table>
		
		<table class="table">
		
			
			
		
		
		 </table>
		 <div class="row"> 
		 	<div class="col-4">
		 		<h2>Total Horas</h2>
		 		<h3 th:text="${totalHoras}"></h3>
		 	</div>
		 	<div class="col-4">
		 		<h2>Total semanas</h2>
		 		<h3 th:text="${totalSemanas}"></h3>
		 	</div>
		 </div>
		

	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>
</body>
</html>